@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1f1f1f;
    color: #fff;
    height: 100vh;
}

h1 { font-size: 72px; }
h2 { font-size: 32px; }
p { font-size: 16px; }
a { color: white; text-decoration: none; }
a:hover { color: #89e2f5; text-decoration: none; }
span.highlight { color: #89e2f5; }

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row { margin: 12px 0; }

i.fab { margin-right: 16px; }
#caption { font-size: 24px; }
#caption span {
    border-bottom: 4px dotted #fff;
}

@media (min-width: 576px) { 
    h1 { font-size: 88px; }
    i.fab {
        font-size: 48px;
        margin-right: 24px;
    }
}

@media (min-width: 768px) { 
    h1 { font-size: 120px; }
    #caption { font-size: 32px; }
    .row { margin: 16px 0; }
}