@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans:700&display=swap');

.container {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.25em;
    padding: 150px 0;
    width: 60%;
    word-wrap: break-word;
}

h1 {
    font-size: 160px;
    line-height: 150px;
}

h2 {
    font-size: 100px;
    line-height: 90px;
}

p {
    font-family: 'Lora', serif;
    font-size: 20px;
    letter-spacing: -0.025em;
    line-height: 50px;
}

#main_menu a {
    font-size: 100px;
    line-height: 150px;
    color: black;
}

#main_menu a:hover {
    text-decoration: underline;
}