@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:700&display=swap');

.container {
    height: 100vh;
    width: 60%;
    font-family: 'Open Sans', sans-serif;
    color: #363636;
    padding: 150px 0;
    word-wrap: break-word;
}

.row {
    margin-bottom: 60px;
}

h1 {
    font-size: 160px;
    letter-spacing: -8px;
    line-height: 150px;
}

h2 {
    font-size: 100px;
    letter-spacing: -6px;
    line-height: 90px;
}

p {
    font-family: 'Lora', serif;
    font-size: 20px;
    letter-spacing: -0.3px;
    line-height: 50px;
}

#main_menu a {
    font-size: 100px;
    letter-spacing: -4px;
    line-height: 150px;
    color: #363636;
}

#main_menu a:hover {
    text-decoration: underline;
}

.pg_item {
    font-family: 'Lora', serif;
    height: 300px;
}

.pg_item h3 {
    font-size: 40px;
    font-weight: bold;
}

.pg_item img {
    height: auto;
    width: 100%;
    min-width: 200px;
}