@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

// Overrides
$body-bg: #242424;
$body-color: #FFFFFF;
$primary: #333333;
$secondary: #272727;
$accent: #e67a52;
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1366px
);
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$fa-font-path: "../assets/fa-fonts/";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

@import "custom.scss";